.teste {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #808080;
  
}

.logo {
  float: left;
}

.logo_titulo{
  width: 100px;
  height: 36px;
}


.icones_head{
  float: right;
  font-size: 1.4em;
  
}


